.borda {
    background: linear-gradient(to left, pink, rgb(151, 32, 52));
}

.fundo {
    background-color: white;
    padding: 15px;
}

.borda-menor {
    width: 20%;
    padding: 8px;
}

.borda-maior {
    padding: 15px;
}

.alinhar-direita {
    float: left;
}

.borda-esquerda {    
    margin-left: 20%;
}

.menu {
    float: left;
    padding: 10px;   
}

.fonte {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: oblique;
}

.paragrafo {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    font-variant: small-caps;
    text-transform: capitalize;
    text-transform: lowercase;
}

.link {
    text-decoration: overline;
    text-decoration-color: pink;
    /*border: 1px solid black;*/
    /*padding:5px;*/
    text-decoration-style: wavy;
}

.item-lista{
    list-style: none;
}

.caixa {
    background-color: blue;
    height:100px;
    width: 100px;
    border: 2px solid black;
    color: white;
}

.bloco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: purple;
    padding: 30px;
}

.menu a:hover {
    background-color: bisque;
}